<!-- Модальное окно для выбора загрузки -->
<div id="tmLoadModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Загрузить</h5>
                <button type="button" class="close closeloadmodal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="files_list">Список</label>
                    <select class="custom-select" id="files_list" aria-label="Example select with button addon">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div id="load_error" class="alert alert-danger" role="alert" style="display:none">
                    Ошибка входа.
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnCancelLoadTL" type="button" class="btn btn-secondary closeloadmodal">Закрыть</button>
                <button id="btnLoadTL" type="button" class="btn btn-primary">Загрузить</button>
            </div>
        </div>
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
