<!-- Модальное окно для MessageBox -->
<div id="tmBoxModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="box_message" class="alert" role="alert">
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnBoxOk" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
