
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Timeline</title>
    <link rel="stylesheet" href="dist/main.css">
</head>
<body>
    <!-- Главное меню -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">
            <button class="nbutton" id="prev_page" href="#">&lt;&lt;</button>
            <button class="nbutton" id="prev_period">&lt;</button>
            <button class="nbutton" id="next_period" href="#">&gt;</button>
            <button class="nbutton" id="next_page" href="#">&gt;&gt;</button>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Линии времени
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <button id="newTimeline" class="dropdown-item">Новая</button>
                        <button id="load" class="dropdown-item">Загрузить</button>
                        <button id="load_file" class="dropdown-item">Загрузить файл</button>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <div class="nav my-2 my-lg-0">
                <a class="nav-link mr-sm-2" id="btnReg" href="#">Регистрация</a>
                <a class="nav-link my-2 my-sm-0" id="btnLogin" href="#">Вход</a>
                <label class="nav-link my-2 my-sm-0" id="lblUser" style="display:none"></label>
            </div>
        </div>
    </nav>

    <div id="tls">
    </div>

    @await Html.PartialAsync("_NewTL")
    @await Html.PartialAsync("_RegisterUser")
    @await Html.PartialAsync("_LogonUser")
    @await Html.PartialAsync("_LoadTL")
    @await Html.PartialAsync("_MessageBox")
    @await Html.PartialAsync("_AddPeriod")
    @await Html.PartialAsync("_UploadFile")

    <script src="dist/main.js"></script>
</body>
</html>
