@import "regular.scss";
@import "fontawesome.scss";
@import "bootstrap.scss";
@import "contextmenu.scss";

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
/* just to be sure these are full screen*/

canvas {
    display: block;
}

// кнопочки с бликом
.nbutton {
    width: 35px;
    text-align: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 1px 3px;
    margin: 0px 0px;
    position: relative;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #fe6637;
    transition: .2s ease-in-out;

    &:before {
        content: "";
        background: linear-gradient(90deg, rgba(255,255,255,.1), rgba(255,255,255,.5));
        height: 50px;
        width: 50px;
        position: absolute;
        top: -8px;
        left: -75px;
        transform: skewX(-45deg);
    }

    &:hover {
        background: #fe6637;
        color: #fff;

        &:before {
            left: 150px;
            transition: .5s ease-in-out;
        }
    }
}

table {
    background-color: cornflowerblue;
    border-collapse: separate;
}

.date {
    background-color: bisque;
    td {
        padding: 2px;
        white-space: nowrap;
        width: 120px;
        text-align: center;
        &:hover {
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.hidden_cell {
    background-color: cornflowerblue;
}

.tl_head {
    background-color: brown;
    color: aliceblue;
    padding: 2px;
}

.table_container {
    overflow: scroll;
}

/* To remove the scrollbars */
